{% extends 'base.html' %}

{% block content %}
<form method="post" action="{% url 'UploadMulti:clear_database' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit" class="btn btn-danger pull-right">
            <span class="glyphicon glyphicon-trash"></span> Clear Database
        </button>
    </form>
    
    <form method="post" action="{% url 'UploadMulti:csv' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit" class="btn btn-success pull-right" style="margin-left: 10px;">
            TO-CSV
        </button>
    </form>

    <!-- <div class="col-md-12"> -->
        {% block document_content %}
        {% endblock %}
    <!-- </div> -->

{% endblock %}
