
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CO-AL</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.7/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>

    
    <div class="row">
        
      <div class="col-md-6" >
        <div style="margin-top: 15px; margin-right: 20px;">
            <h3>Document</h3>
        

          
            <object >
              <iframe src= "{% static File_Name %}" width="550px" height="500px"  > </iframe>
          
            </object>
                
        </div>

        </div>
          
      
      <div class="col-md-6">
        <div style="margin-left: 50px; margin-top: 20px;">
            
            <div style=" height:510px; width:520px; overflow:hidden; overflow-y:scroll; " >
              {% load crispy_forms_tags %}

              {% block content %}
              
                <form method="POST" action="{% url 'UploadMulti:form_post' %}">
                  <div style="position: absolute; background: gray; width: 505px;">
                    
                      <h3 style="float: left">&nbsp Extracted Features</h3>
                      <br>
                      <button type="submit" class="btn btn-primary" style="float:right; margin-right: 10px;">Submit</button>
                      

                  
                  </div>
                  
                  <br>
                  <br>
                  <br>
                  {% csrf_token %}
                  {{ form|crispy }}
                  
                </form>
              {% endblock %}


              {% block footer %}
            <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

                {{ form.media }}
                {% endblock %}
            </div>
          </div>  
      </div>
          
    </div>
              



    
    
  </body>
</html>








  
  



  

